*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  background-color: rgb(220, 220, 217);
}
.main{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1{
margin-left: 10px;
align-items: center;
}

.box2{
    display: flex;
}

.location-1{
    margin-top: 13px;
}
.location-2{
    color: white; 
    margin-left: 8px;
    font-size: 13px;
    margin-right: 15px;
    margin-top: 7px;

}



.box3{
      width:50%;
      display: flex;
      

    }
    .box3 select{
      height: 35px;
      width: 47px;
      padding: 5px;
      font-size: 12px;
      outline: none;
      border: none;
      border-radius: 5px 0 0 5px;
      background-color: #E6E6E6;
    }
     .box3:hover{
      border: 2px solid #ee9e37;
     border-radius: 7px 7px 7px 7px;
    }
    .box3 input{
      width: 85%;
      height: 35px;
      outline: none;
      padding-left: 20px;
      margin-left: -5;
      border: none;
      border-left: 1px solid #E7E7E7;
    } 
   
    .box3 button{
      height: 35px;
      width: 47px;
      padding: 5px;
      font-size: 12px;
      outline: none;
      border: none;
      border-radius: 0 5px 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ee9e37;
    }
    
    .box3 button:hover{
      background-color: #ee9e37;
      cursor: pointer;
    }
    .box4{
     display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
   
}
    
   
    /* .box-1{
      margin-left: -8px;
    } */

    .box-1 select{
      height: 35px;
      width: 47px;
      padding: 5px;
      font-size: 12px;
      border: none;
      outline: none;
      border-radius: 5px 5px;
      background-color: black;
      color: white;
      margin-left: -18px;
    }
    .box-2{
      color: white;
      background-color: none; 
      margin-left: 19px;
      font-size: 12px;
      margin-right: 50px;
      margin-top: 7px;
    }
  .box-3{
    color: white;
    background-color: none;
    font-size: 12px;
    margin-left: -30px; 
    margin-right: 19px
  }
  .box-4{
    margin-top: 3px;
    display: flex;
    color: white;

  }
  .cart-counter{
    color: #ee9e37;
    position: relative;
    font-weight: bold;
    margin-left: -23.5px;
    margin-top: -10px;
  }

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.second{
   height: 35px;
    width: 100%;
    background-color: #253030;
    display: flex;
    justify-content: baseline;
    align-items: center;
    
    
}

.box_1{
  display: flex;
  margin-left: 18px;
}

.text2{
  color: white;
background-color: none;  
}

.box_2{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_3{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_4{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_5{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_6{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_7{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_8{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_9{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_10{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_11{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_12{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_13{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_14{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_15{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_16{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.box_17{
color: white;
margin-top: 3px;
margin-left: 18px;
margin-bottom: 11px;
font-size: 16px;
}

.second :hover{
  cursor: pointer;
  border: 0.5px solid white;
  
}


.product-list-1{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -100px;

}

.box-1-{
  height: 450px;
  width: 350px; 
  background-color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
 }  

.outer-box{
  display:flex;
  gap: 20px;
  margin-left: 47px;
}

.img-text{
  font-size: 15px;
  height: 50px;
}

.fourth{
  height: 250px;
  width: 97%;
  background-color: white;
  align-items: center;
  display: flex;
  margin-left: 22px;
  border-top: 73px;
  margin-top: -225px;

}

.box_{
  height: 180px;
  width: 180px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  margin-right: 13px;
  /* border: 2px solid black; */
}   